& {
  --bg-color: #1f1f1f;
  --text-color: #fff;
  --subtitle-text-color: #b8b8b8;
  --hint-color: #aaa;
  --link-color: #2d84ff;
  --accent-text-color: #2b8cee;
  --button-color: #20D0DD;
  --button-text-color: #FFF;
  --secondary-bg-color: #181818;
  --section-header-text-color: #cfcfcf;
  --section-bg-color: #2c2c2c;
  --section-separator-color: #3c3c3c;
  --destructive-text-color: #f47166;
  --skeleton-bg: var(--hint-color);
  --input-active: var(--secondary-bg-color);
  --link-block-bg: #ffffff17;
}
