@import 'fonts.scss';

// If browser uses light mode OR user selected light mode manually:
:root {
    @import 'constants.scss';
    @import 'theme-dark';
}

*,
:before,
:after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: -apple-system, Rubik, Roboto, Ubuntu;
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 500;
    margin: 0;
}

p {
    margin: 0.2rem 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.router-link-no-style {
    display: block;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.muted {
    color: var(--hint-color);
}

button {
    font-family: Rubik, Roboto, Ubuntu, Arial, sans-serif;
    outline: none;
    appearance: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: var(--button-color);
    color: var(--button-text-color);
    outline: none;
    padding: 0;
    margin: 0;
    border-radius: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s background-color;
    transition: 0.05s transform;
    user-select: none;
}

.big-btn {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    padding: 17px 0 17px 0;
    margin-bottom: 20px;
}

input {
    appearance: none !important;
    outline: none;
    font-size: 14px;
    -webkit-appearance: textfield;

    &::placeholder {
        opacity: 1;
    }

    &::-webkit-input-placeholder {
        opacity: 1;
    }

    &::-webkit-search-cancel-button {
        display: none;
    }

    &::-webkit-search-results-button {
        display: none;
    }

    &::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }
}

/* Firefox */
input[type=number] {
    appearance: textfield !important;
    -moz-appearance: textfield !important;
}

.content {
    padding: 8px 16px 24px 16px;
    max-width: 520px;
    margin: auto;
}

.content>.card {
    // Adding margin to card if it's the first element in the content container
    margin-top: 12px;
}

.skeleton {
    display: block;
    background: var(--skeleton-bg);
    border-radius: 10px;
    color: transparent;
    user-select: none;
    pointer-events: none;
    fill: none;
    opacity: .05;

    &--inline {
        display: inline-flex;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
    }
}

.card-subtitle {
    text-transform: uppercase;
    color: var(--subtitle-text-color);
    margin-top: 1.5rem;
    margin-left: 15px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--section-bg-color);
    background-clip: border-box;
    border-radius: var(--default-border-radius);
    user-select: none;

    &+& {
        margin-top: 18px;
    }
}

.card-padding {
    padding: var(--default-padding);
}

.card-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--section-separator-color);

    &:last-child {
        border-bottom: none;
    }

    &__left {
        color: var(--subtitle-text-color);
    }
}

.input {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    color: var(--text-color);
    font-size: 16px;
    outline:none;
    font-family: -apple-system, Rubik, Roboto, Ubuntu;
}

.input-text {

    &__transparent {
        padding: 4px 1px;
        background-color: transparent;
    }
}

.input-textarea {
    resize: none;

    &__transparent {
        padding: 4px 1px;
        background-color: transparent;
    }
}

@media screen and (max-width: 520px) {
    body {
        -webkit-text-size-adjust: 100%;
    }
}

.arrow-right {
    opacity: .6;
    margin-left: 4px;
}

.instruction {
    padding-left: 5px;
    margin-top: 8px;
    margin-bottom: 1rem;

    &::before {
        content: "* ";
    }
}

.justify-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.both-images {
    position: relative;

    &__collection {
        width: 116px;
        height: 116px;
        border-radius: 30px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    &__item {
        position: absolute;
        bottom: 8px;
        right: -15px;
        width: 54px;
        height: 54px;
        border-radius: 20px;
        border: 4px solid var(--section-bg-color);
    }
}

.mb-0 {
    margin-bottom: 0;
}

.mint-main-bg {
    width: calc(100% + 32px);
    padding: var(--default-padding);
    background-color: var(--section-bg-color);
    box-sizing: border-box;
    margin-left: -16px;
    margin-top: -8px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
}

.collection-img {
    width: 116px;
    height: 116px;
    border-radius: 30px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.description {
    margin-top: .5rem;
    text-align: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.links-container {
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.link {
    background-color: var(--link-block-bg);
    padding: 4px 12px 4px 8px;
    border-radius: 10px;
    color: var(--subtitle-text-color);
    display: flex;
    gap: 0 5px;
    align-items: center;
    font-size: 14px;
    transition: .1s;
}

.link:hover,
.link:active {
    text-decoration: none;
}

.link:active {
    transform: scale(.97);
}

.link-img {
    width: 14px;
    height: 14px;
    transform: translateY(-1px);
    color: var(--subtitle-text-color);
}

.nft-preview {
    padding: var(--default-padding);
    display: grid;
    grid-template-columns: 100px auto;
    gap: 15px;

    &__text {
        padding-top: .5rem;
    }

    &__img {
        width: 100%;
        border-radius: 15px;
    }
}

.create-alert-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    z-index: 100;
    padding: 0 16px;
}